.project {
    width: 100%;
    position: relative;
    border: 1px solid white;
    padding-bottom: 100%;
    transition: border-color 0.3s ease;
    overflow: hidden;
}

.project__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
    z-index: 1;
    transition: all 0.5s ease;
}

.project__info {
    display: flex;
    align-items: stretch;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-color: #ffffff;
    z-index: 2;
    overflow: hidden;
}

.project__title {
    padding: 8px 0px 8px 16px;
    flex-grow: 1;
    color: #454545;
    text-align: left;
    line-height: normal;
    transition: color 0.2s ease;
}

.project__arrow {
    position: relative;
    flex-shrink: 0;
    width: 120px;
    display: flex;
    font-size: 32px;
    align-items: center;
    justify-content: center;
    color: #ffffff;
}

.project__arrow svg {
    margin-left: 32px;
}

.project__arrow::before {
    content: '';
    background-color: var(--primary-color);
    position: absolute;
    top: 0;
    right: -50%;
    height: 100%;
    width: 120%;
    transform: skew(-30deg);
    transition: transform 0.3s ease;
    z-index: -1;
}

.project:hover {
    /* border-color: var(--primary-color); */
}
.project:hover .project__image {
    transform: scale(1.1);
}
.project:hover .project__title {
    color: var(--primary-color);
}
.project:hover .project__arrow::before {
    transform: skew(-30deg) scaleX(1.5);
}
